<!DOCTYPE html>
<html>
  <head>
    <meta name="title" content="Send anonymous message">
    <meta name="description" content="Send me an anonymous message">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Send anonymous message">
    <meta property="og:description" content="Send me an anonymous message">
    <meta property="og:image" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link href="/output.css" rel="stylesheet">
  </head>
  <body>
    <div class="h-full-screen w-max-6xl mx-auto relative">
      <div class="absolute top-0 left-0 w-max-6xl w-full">
        <div class="flex gap-4 justify-center items-center p-4">
          <img class="w-4 rounded-full h-4" src="" alt="avatar"/>
          <div>
            <h2 class="font-bold"> @khandakar.shakib </h2>
            <p class=""> Let's keep it simple </p>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 left-0 w-max-6xl w-full">
        
      </div>
    </div>
  </body>
</html>